<%= form_for(pet) do |f| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field form-group">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field form-group">
    <%= f.label :sex %>
    <%= f.text_field :sex %>
  </div>

  <div class="field form-group">
    <%= f.label :photo %>
    <%= f.text_field :photo %>
  </div>

  <div class="field form-group">
    <%= f.label :race_id %>
    <%= f.text_field :race_id %>
  </div>

  <div class="field form-group">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>
  
  <div class="field form-group">
    <%= f.label :situation_id %>
    <%= f.text_field :situation_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
